
<div class="listing-card" [ngClass]="{'list-view': viewMode === 'list'}" [routerLink]="['/ads', ad.id]">
  <div class="image-wrapper">
    <img [src]="imageUrl"
         (error)="handleImageError($event)"
         alt="{{ ad.title }}" style="">
  </div>

  <div class="listing-info">
    <a class="listing-title">{{ ad.title }}</a>
    <div class="listing-location">{{ ad.city }}, {{ ad.municipality }}</div>

    <div class="price-tag">
<!--      <p class="price">{{ ad.price | currency: 'RSD':'din':'1.0-0' }}</p>-->
      <div class="listing-price">{{ ad.price | number: '1.0-0' }}</div>
      <div class="currency-interval">
        <span class="currency">din</span>
        <!-- <span class="currency" *ngIf="ad.currency === 'EUR'">€</span> -->
        <span class="interval">{{ intervalMap[ad.priceInterval] || ad.priceInterval }}</span>

      </div>
    </div>
  </div>
</div>
