/* Glavni kontejner stranice */
.reviews-page-container {
  max-width: 1180px;
  padding: 0;
  font-family: Arial, sans-serif;
}

.type-btn.positive-btn.active {
  background: var(--color-success-light);
  color: #2e7d32;
  border-color: var(--color-secondary-hover);
}

.type-btn.negative-btn.active {
  background: var(--color-danger-light);
  color: var(--color-danger-hover);
  border-color: var(--color-danger-border);
}

/* ===============================
   PROFIL HEADER KARTICA
   =============================== */
