.page-layout{
  display: flex;
  gap: 20px;
  padding-top: 20px;
  margin-bottom: 40px;;
}

.ads-grid-section {
  flex-grow: 1;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); /* Malo širi grid */

}
