.container {
  max-width: 920px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: 1921px) { .container { max-width: 1080px; } }
@media (min-width: 2800px) { .container { max-width: 1200px; } }

@media (max-width: 900px) {
  .container {
    max-width: 100%;
    padding: 0;
  }
}
