
<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="login()">
    <div class="title">
      <h2>{{ 'auth.login.title' | translate }}</h2>
    </div>

    <app-social-auth-buttons [redirectTo]="returnUrl"></app-social-auth-buttons>

    <div class="form-field">
      <label for="email" >{{ 'auth.login.email_label' | translate }}</label>
      <input id="email" formControlName="email" [placeholder]="'auth.login.email_placeholder' | translate" autocomplete="email">
      <div *ngIf="submitted && form.get('email')?.invalid" class="error-msg">
        {{ 'auth.login.error_email' | translate }}
      </div>
    </div>
    <div class="form-field">
      <label for="password" >{{ 'auth.login.password_label' | translate }}</label>
      <input id="password" type="password" formControlName="password" [placeholder]="'auth.login.password_placeholder' | translate" autocomplete="current-password">
      <div *ngIf="form.get('password')?.touched && form.get('password')?.invalid" class="error-msg">
        {{ 'auth.login.error_password' | translate }}
      </div>
    </div>
    <div class="checkbox-forgot-password">
      <div class="checkbox">
        <input id="remember" type="checkbox">
        <label for="remember" >{{ 'auth.login.remember_me' | translate }}</label>
      </div>
      <a routerLink="/forgot-password" class="forgot-link">{{ 'auth.login.forgot_password' | translate }}</a>
    </div>

    <div class="btn-reg">
      <button type="submit" [disabled]="form.invalid">{{ 'auth.login.submit' | translate }}</button>
    </div>

    <p class="register-link">{{ 'auth.login.no_account' | translate }} <a routerLink="/register">{{ 'auth.login.register_here' | translate }}</a></p>

  </form>
</div>

