.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:  center;
  width: 100%;

  padding: 40px 20px;
  gap: 20px;

}
form{
  max-width: 400px;
  padding: 30px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.title{
margin-bottom: 20px;
}
.form-field {
  margin-bottom: 20px;

  label{
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
  }
  input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}
.checkbox-forgot-password{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 35px;

  .checkbox{
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
    label{
      display: block;
      cursor: pointer;
    }
  }
  label{
    cursor: pointer;
  }
}

.btn-reg{
  justify-self: center;
  width: 80%;
  button {
    width: 100%;
    margin-top: 20px;
    padding: 10px 25px;
    border: 1px solid cornflowerblue;
    border-radius: 7px;
    background-color: steelblue;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
  ;
    &:hover{
      transform: scale(1.05);
      transition-duration: 0.4s;
    }
    &:not(:hover){
      transform: scale(1.0);
      transition-duration: 0.4s;
    }
  }
}

.register-link {
  color: #454545;
  font-size: 14px;
  margin-top: 10px;
  justify-self: center;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}




