<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="title">
      <h2>{{ 'auth.forgot.title' | translate }}</h2>
      <p class="subtitle">{{ 'auth.forgot.subtitle' | translate }}</p>
    </div>

    <div *ngIf="successMessage" class="success-msg">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</div>

    <div class="form-field" *ngIf="!submitted">
      <label for="email">{{ 'auth.forgot.email_label' | translate }}</label>
      <input id="email" formControlName="email" [placeholder]="'auth.forgot.email_placeholder' | translate" type="email" />
      <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid" class="error-msg">
        {{ 'auth.forgot.err_email' | translate }}
      </div>
    </div>

    <div class="btn-reg" *ngIf="!submitted">
      <button type="submit" [disabled]="form.invalid">{{ 'auth.forgot.submit' | translate }}</button>
    </div>

    <hr />
    <p class="register-link"><a routerLink="/login">{{ 'auth.forgot.back_to_login' | translate }}</a></p>
  </form>
</div>
