.review-wrapper {

  padding: 10px;

}

.error-box {
  color: #d32f2f;
  background: #ffebee;
  padding: 15px;
  border-radius: 6px;
}

.success-box {
  color: #2e7d32;
  background: #e8f5e9;
  padding: 15px;
  border-radius: 6px;
  font-weight: 600;
  text-align: center;
}

.review-form {
  h3 { margin-top: 0;
    font-size: 18px;
    color: #1c1c1c;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }

  .question {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    gap: 30px;

    label {
      display: block;
      font-weight: 400;
      margin-bottom: 12px;
      font-size: 14px;

    }
    .question-text {
      width: 280px;
    }

    .radio-group {
      display: flex;
      flex-direction: row;
      gap: 15px;

      label  {
        font-weight: normal;
        cursor: pointer;
        gap: 5px;

       input[type="radio"]:checked {
         accent-color: #6ecf7e;
         cursor: pointer;
       }
      }
    }

    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
    }
  }

}
.btn-submit-div {
  display: flex;
  justify-content:  end;
}
.btn-submit {
  background-color: #0071bd;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;

  &:hover { background-color: #0071bd; }
}
.review-wrapper p {
  font-size: 14px;
  color: #333;
  margin-bottom: 8px;
}
.review-wrapper p strong,
.review-wrapper p b {
  font-weight: 700;
}

.review-wrapper ul {
  margin: 0;
  padding-left: 20px;
  list-style: disc;
}

.review-wrapper ul li {
  font-size: 14px;
  color: #333;
  line-height: 1.8;
}
