<div class="review-wrapper" *ngIf="contractId">

  <!-- FORMA ZA OCENJIVANJE -->
  <div class="review-form">
    <h3>{{ 'review.form.title' | translate }}</h3>

    <div class="question">
      <label class="question-text">{{ 'review.form.q_payment' | translate }}</label>
      <div class="radio-group">
        <label><input type="radio" name="paymentGroup" [(ngModel)]="reviewData.paymentOk" value="YES"> {{ 'common.yes' | translate }}</label>
        <label><input type="radio" name="paymentGroup" [(ngModel)]="reviewData.paymentOk" value="COULD_BE_BETTER"> {{ 'review.form.could_be_better' | translate }}</label>
        <label><input type="radio" name="paymentGroup" [(ngModel)]="reviewData.paymentOk" value="NO"> {{ 'common.no' | translate }}</label>
      </div>
    </div>

    <div class="question">
      <label class="question-text">{{ 'review.form.q_communication' | translate }}</label>
      <div class="radio-group">
        <label><input type="radio" name="communicationGroup" [(ngModel)]="reviewData.communicationOk" value="YES"> {{ 'common.yes' | translate }}</label>
        <label><input type="radio" name="communicationGroup" [(ngModel)]="reviewData.communicationOk" value="COULD_BE_BETTER"> {{ 'review.form.could_be_better' | translate }}</label>
        <label><input type="radio" name="communicationGroup" [(ngModel)]="reviewData.communicationOk" value="NO"> {{ 'common.no' | translate }}</label>
      </div>
    </div>

    <div class="question">
      <label class="question-text">{{ 'review.form.q_agreement' | translate }}</label>
      <div class="radio-group">
        <label><input type="radio" name="agreementGroup" [(ngModel)]="reviewData.agreementOk" value="YES"> {{ 'common.yes' | translate }}</label>
        <label><input type="radio" name="agreementGroup" [(ngModel)]="reviewData.agreementOk" value="COULD_BE_BETTER"> {{ 'review.form.could_be_better' | translate }}</label>
        <label><input type="radio" name="agreementGroup" [(ngModel)]="reviewData.agreementOk" value="NO"> {{ 'common.no' | translate }}</label>
      </div>
    </div>

    <div class="question">
      <label>{{ 'review.form.comment_label' | translate }}</label>
      <textarea [(ngModel)]="reviewData.comment" rows="3" [placeholder]="'review.form.comment_placeholder' | translate"></textarea>
    </div>

  </div>
  <div class="btn-submit-div">
    <button class="btn-submit" (click)="submitReview()">{{ 'review.form.submit' | translate }}</button>
  </div>
</div>

<div class="review-wrapper" *ngIf="contractId === null">
  <div>
    <p>{{ 'review.form.blocked_intro' | translate }}</p>
    <ul>
      <li>{{ 'review.form.blocked_reason_1' | translate }}</li>
      <li>{{ 'review.form.blocked_reason_2' | translate }}</li>
      <li>{{ 'review.form.blocked_reason_3' | translate }}</li>
      <li>{{ 'review.form.blocked_reason_4' | translate }}</li>
      <li>{{ 'review.form.blocked_reason_5' | translate }}</li>
    </ul>
  </div>
</div>
