<div class="review-wrapper" *ngIf="contractId">

  <!-- FORMA ZA OCENJIVANJE -->
  <div class="review-form">
    <h3>Ocenite saradnju</h3>

    <div class="question">
      <label class="question-text">1. Da li je plaćanje / dogovor ispoštovan?</label>
      <div class="radio-group">
        <label><input type="radio" name="paymentGroup" [(ngModel)]="reviewData.paymentOk" value="YES"> Da</label>
        <label><input type="radio" name="paymentGroup" [(ngModel)]="reviewData.paymentOk" value="COULD_BE_BETTER"> Može
          bolje</label>
        <label><input type="radio" name="paymentGroup" [(ngModel)]="reviewData.paymentOk" value="NO"> Ne</label>
      </div>
    </div>

    <div class="question">
      <label class="question-text">2. Da li je komunikacija protekla dobro?</label>
      <div class="radio-group">
        <label><input type="radio" name="communicationGroup" [(ngModel)]="reviewData.communicationOk" value="YES">
          Da</label>
        <label><input type="radio" name="communicationGroup" [(ngModel)]="reviewData.communicationOk"
                      value="COULD_BE_BETTER"> Može bolje</label>
        <label><input type="radio" name="communicationGroup" [(ngModel)]="reviewData.communicationOk" value="NO">
          Ne</label>
      </div>
    </div>

    <div class="question">
      <label class="question-text">3. Da li je predmet bio kao iz opisa?</label>
      <div class="radio-group">
        <label><input type="radio" name="agreementGroup" [(ngModel)]="reviewData.agreementOk" value="YES"> Da</label>
        <label><input type="radio" name="agreementGroup" [(ngModel)]="reviewData.agreementOk" value="COULD_BE_BETTER">
          Može bolje</label>
        <label><input type="radio" name="agreementGroup" [(ngModel)]="reviewData.agreementOk" value="NO"> Ne</label>
      </div>
    </div>

    <div class="question">
      <label>Dodatni komentar (opciono):</label>
      <textarea [(ngModel)]="reviewData.comment" rows="3" placeholder="Sve preporuke za člana..."></textarea>
    </div>

  </div>
  <div class="btn-submit-div">
    <button class="btn-submit" (click)="submitReview()">Pošalji ocenu</button>
  </div>
</div>

<div class="review-wrapper" *ngIf="contractId === null">
  <div>
    <p>Korisnika ne možete oceniti:</p>
    <ul>
      <li>ako ste se nedavno registrovali, </li>
      <li>ako se iz Vaše konverzacije KP Porukama ne može utvrditi da je do kupoprodaje došlo,</li>
      <li>ako ste ga već ocenili pre manje od 7 dana,</li>
      <li>ako je konverzacija starija od 30 dana,</li>
      <li>ako ste korisnika već ocenili iz iste konverzacije.</li>
    </ul>
  </div>
</div>
