<div class="filters-container">

  <div class="filter-section">
    <h4 class="filter-title">Kategorije</h4>

    <div class="category-list">
      <a class="category-item"
         [class.active]="selectedCategoryId === null"
         (click)="onCategoryClick(null)">
        Sve kategorije
      </a>

      <ng-container *ngFor="let parent of parentCategories">
        <a class="category-item category-item--parent"
           [class.active]="parent.id === selectedCategoryId"
           (click)="onCategoryClick(parent.id)">
          {{ parent.name }}
        </a>
        <a class="category-item category-item--child"
           *ngFor="let child of getChildren(parent.id)"
           [class.active]="child.id === selectedCategoryId"
           (click)="onCategoryClick(child.id)">
          {{ child.name }}
        </a>
      </ng-container>
    </div>
  </div>

</div>
