<header class="site-header">
  <div class="container header-content">
    <div class="logo">
      <a routerLink="/">Izdajem Iznajmljujem</a>
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Sve što zamislite.. "
      [(ngModel)]="searchTerm"
      (keyup.enter)="onSearch()">
      <button class="search-btn" (click)="onSearch()">Traži</button>
    </div>
    <div class="user-actions" *ngIf="currentUser$ | async as user; else notLoggedIn">
      <span class="welcome-message">Zdravo, {{ user.firstName }}</span>
      <button class="btn-profile" (click)="myProfile()">Moj Profil</button>
      <button class="btn-logout" (click)="logout()">Odjavi se</button>
      <button class="btn-post-ad" (click)="createAd()">+ Postavi oglas</button>
    </div>

    <ng-template #notLoggedIn>
      <div class="user-actions">
        <button class="log-in-btn" (click)="login()">Uloguj se</button>
        <button class="btn-register" (click)="register()">Registruj se</button>
        <button class="btn-post-ad">+ Postavi oglas</button>
      </div>
    </ng-template>
  </div>
</header>
