# IntelliJ IDEA
.idea/
*.iml
*.iws

# Maven build output
target/

# Log files
*.log

# Compiled files
*.class

# OS-specific files
.DS_Store
Thumbs.db"src/main/resources/application.properties" 
"../.idea/" 
